<section class="bg-primary" id="about">
    <div class="container">
        
                <h2 class="section-heading">About Me</h2>
                
                <p class="text-faded">
                    Hello there, My name is Mitch.
                </p>
                <ul class="text-faded">
                    <li>
                        I love to cook.
                    </li>
                    <li>
                        Mindfulness techniques are an important (and often underutilized) set of tools in my arsenal for maintaining a semblance of sanity in the modern world.
                    </li>
                     <li>
                        If I had it my way, I would only wear toe shoes. I honestly can't stand traditional footwear, so I'm almost always wearing some form of minimalist shoe.
                     </li>
                    <li>
                        I love coffee, tea, yerba mate, chocolate, etc. I have a lot of respect for the chemical relationships which are formed between man and plant. I'm really a purist when it comes to psychotropic botanicals, and I'm generally picky about what I put on/into my body, so I geek out about how these substances are grown, processed, transported, served, and consumed.
                    </li>
                    <li>
                        I love hacking. My next career goal is to become a penetration tester for an independent security firm or a red teamer for a larger business. I am so interested in how computer (and physical) systems are intended to operate, and how they fail to do so. 
                    </li>
                </ul>
            
    </div>
</section>
